@font-face {
    font-family: 'Alice';
    src: url('../public/fonts/Alice-Regular.ttf') format('truetype'),
        url('../public/fonts/Alice-Regular.woff') format('woff'),
        url('../public/fonts/Alice-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'Alice', Courier, monospace;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    --color1: rgb(43, 42, 42);
    --color2: papayawhip;
    --color3: peachpuff;
    --color4: pink;
    --color5: thistle;
    --color6: antiquewhite;
    --color7: floralwhite;
}

* {
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color2);
    align-items: center;
}

header {
    justify-content: space-evenly;
    border: 6px double var(--color5);
    border-radius: 0px 40px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

hr {
    width: 75%;
}

header img {
    padding: .5rem;
    align-self: center;
    transform: rotate(-20deg);
}

header img:hover {
    transform: rotate(-20deg);
    animation: logoWiggle 0.4s ease-in-out 1;
}

#navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px var(--color4);
}

#headerLogoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerTitle {
    font-size: 3rem;
    /* line-height: 1.1; */
    text-shadow: 3px 3px 3px var(--color4);
    color: var(--color1);
    text-align: center;
    margin: 0;
}

#indexTitle {
    color: var(--color1);
}

.recipe-card {
    margin: 1rem;
    padding: 1rem;
    border: 6px double var(--color4);
    border-radius: 0px 30px 0px 30px;
    font-size: .8rem;
}

.recipe-card li {
    list-style: none;
}


#contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

select {
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
    color: var(--color1);
    border: 6px double var(--color4);
    border-radius: 0px 15px 0px 15px;
    line-height: 2rem;
    padding: 0.4rem .8rem;
    font-size: 1.2rem;
}

select option {
    font-family: 'Alice', Courier, monospace;
    font-size: 16px;
}

#searchResults {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#searchDiv h1 {
    text-align: center;
}

.search-result-item {
    margin-bottom: 5px;
}

.search-result-item a {
    color: var(--color1);
    text-shadow: 2px 2px 2px var(--color5);
    text-decoration: none;
    font-size: 1.2rem;
}

.search-result-item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#searchDiv input {
    border: 6px double var(--color4);
    border-radius: 0px 15px 0px 15px;
    line-height: 2rem;
    padding: 0.4rem .8rem;
    font-size: 1.2rem;

}


button,
#printingLink {
    border-radius: 10px;
    background-color: var(--color7);
    border: 5px double var(--color5);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
#printingLink:hover {
    background-color: var(--color5);
    border: 5px double var(--color7);
}

#recipeModalContent {
    border: 3px solid var(--color7);
    border-radius: 0px 40px;
    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color6);
    padding: 0.5rem;
    box-shadow: 3px 3px 12px var(--color1);
    max-height: 90vh;
    width: 85%;
    overflow-y: scroll;
    text-align: start;
}

#printableRecipe {
    background-color: white;
    height: 100vh;
}

@keyframes logoWiggle {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

/* media queries */
@media (max-width: 768px) {
    #headerTitle {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    #headerTitle {
      font-size: 1.75rem;
    }

    #headerLogoTitle {
        flex-direction: column;
    }

    #indexTitle {
        font-size: 1.5rem;
    }
  }